<div class="col float-start">UserId:</div>
<div class="col float-end">{{request.user.id}}</div>
</div>
<div class="row">
<div class="col float-start">UserName:</div>
<div class="col float-end">{{request.user}} </div> 

</div>

<div class="row"><div class="col float-start">UserEmail: </div>
<div class="col float-end">{{request.user.email}}</div>



{% for items in createposts %}
<div class="col-md-4 col-lg-4">
  <div class="card my-3">
    <img src="{{items.images.url}}"  class="card-image-top"style=" height: 350px;" alt="Thoughts">

    <div class="card-header text-center text-secondary">
        <h5 class="card-text text-secondary text-uppercase">{{ items.title }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text"><q>{{items.body}}</q></p>

      
      

      <div class="card-footer ">
          <div class="col">
              <div class="">
                <span class="text-danger"><s><i class="fa-regular fa-face-smile"></i> {{items.type}}</s></span>
              </div>
              <div class="mt-3">
                <span class="text-primary"><i class="fa-solid fa-feather-pointed"></i> {{items.author}}</span>
              </div>
          </div>
            <span class="text-secondary float-end"><i class="fa-regular fa-calendar-days"></i> {{items.created_at | date}}</span>
        </div>
  </div>
</div>
{% endfor %}

# cat=request.POST.get('Catagory')
# title=request.POST.get('title')
# body=request.POST.get('body')
# author=request.POST.get('author')
# images=request.POST.get('images')
# type=request.POST.get('type')
# #  product = Product.objects.get(product_code=product_id)

# catagorys=Catagory.objects.get(title=cat)

# createpost.objects.create(user=request.user,catagory=catagorys,title=title,body=body,author=author,images=images,type=type)
# return redirect("/")
# return render(request,'createpost.html',{"catagory":catagory,"create":create})

if request.user.is_authenticated:
        if request.method=='POST':
            new=request.POST.get('cat')
            obj=Catagory()
            obj.new_cat=new
            obj.save()
            
            return redirect("/")
        return render(request,'createpost.html')


        <div class="mb-4">
          <label for="" class="form-label">image</label>
          <input type="file" name="image" id="image" class="form-control" value="{{item.images.url}}">
          
      </div>



      