{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:70px;" >
  <div class="row row-cols-sm-2 row-cols-2">
      <div class="col-lg-8 col-md-8  position-relative">
          <div class="jumbotron">
            <h1 class="display-5 text-uppercase text-secondary text-center"> {{request.user}}</h1>
            <p class="lead"><span class="text-secondary">UserMail:</span> {{request.user.email}}</p>
            <hr class="bg-danger">

            <span class="text-secondary">About</span>

            {% for items in details %}
              {% if details %}

              <p class="text-justify"><i>{{items.About}}</i></p>

              {% else %}

              <p class="text-justify">---</p>

              {% endif %}
              {% endfor %}

            <div class="row position-absolute ">
              <div class="col sm-d-block">
                 
                  {% if details %}
                    {% for items in details%}
                    <a href="{% url 'save_user_Details' items.id %}"class="btn btn-primary mt-2"><i class="fa fa-user-pen"></i> Update Profile</a>
                    {% endfor %}
                  {% else %}
                  <a href="{% url 'user_details' %}"class="btn btn-primary "><i class="fa fa-user-pen"></i> Edit Profile</a>
                  {% endif %}
                
                <a class="btn btn-danger lg-mx-5 sd-d-inline-flex mt-2" href="{% url 'logout' %}" onclick="return confirm('Are you sure Want to Logout')"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </div>
              
            </div>
          </div>
      </div> 

      
      {% if details %}
      {% for items in details %}
      <div class="col-lg-3 col-md-3 col-xs-4 d-block border" style="border-radius:50%;">
        <img src="{{ items.image.url }}" alt="Your Image" width="100%" height="200px" style="border-radius: 50%;">
      </div>
      {% endfor %}
      {% else %} 

      <div class="col-lg-3 col-md-3 col-xs-4 d-block border">
        <i class="fa-solid fa-user text-secondary">your image</i>
      </div>

      {% endif %}
      
      
      

  </div>
  
  
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <div class="row">
        <div class="col-12">
         
          <h4 class="mb-3 text-center text-warning">My Posts</h4>
        </div>
        {% include 'inc/msg.html' %}
        <hr style="border-color:#b8bfc2;">
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        {% for items in userpost %}
        <div class="col-md-4 col-lg-3">
            <div class="card my-3">
              <div class="card-header">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'update_post' items.id %}">Update</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'delete_post' items.id %}" onclick="return confirm('Are you sure you want to delete')">Delete</a></li>
                  </ol>
                </nav>
              </div>
                <img src="{{items.images.url}}"  class="card-image-top"style=" height: 350px;" alt="Thoughts">
    
                <div class="card-header text-center text-secondary">
                    <h5 class="card-text text-secondary text-uppercase">{{ items.title }}</h5>
                </div>
              <div class="card-body">
                <p class="card-text"><q>{{items.body}}</q></p>
              </div>
              <div class="card-footer ">
                    <div class="col">
                        <div class="">
                          <span class="text-danger"><s><i class="fa-regular fa-face-smile"></i> {{items.type}}</s></span>
                        </div>
                        <div class="mt-3">
                          <span class="text-primary"><i class="fa-solid fa-feather-pointed"></i> {{items.author}}</span>
                        </div>
                    </div>
                      <span class="text-secondary float-end"><i class="fa-regular fa-calendar-days"></i> {{items.created_at | date}}</span>
                </div>
            </div>
        </div>
        {% endfor %}


      </div>
      
    </div>
  </div>
</div>

{% endblock content %}